<section class="main-content">

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class=".navbar-brand" href="#"><img src="assets/logo-responsivo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse botoes" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Página principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Minhas submissões WEB</a>
            </li>

        </ul>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card" style="width: 1281px;">
        <div id="video-container" style="width: 1280px; height: 720px;"></div>


        <div class="card-body">
            <h5 class="card-title">Descrição:</h5>
            <pre class="card-text">
⬇️ FREE CASE + 10% BONUS IN COMMENTS! 🎁

Source: NAVI CS:GO https://www.youtube.com/user/navicsgo
S1MPLE twitter : https://twitter.com/s1mpleO
S1MPLE instagram : https://www.instagram.com/s1mpleo/
S1MPLE twitch : https://www.twitch.tv/s1mple


#S1mple #csgohighlights #cs2</pre>
        </div>
    </div>

</div>


</section>
