.minhas-submissoes {
  display: block;
  height: 100%;
}

:host {
  display: block;
  height: 100%;
}

.main-content {
  background-color: #1c316a;
  height: 100%;
}
.cartaoAzul {
  background-color: #172858;
}

.tamanhoLogo {
  height: 64px;
  width: 147px;
}

.margemLogo {
  margin-left: 60px;
}

.spacer {
  height: 50px;
}

.degrade {
  background: linear-gradient(to right, #8b328e, #1b2e66);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.margemBotao {
  margin-right: 10px;
}
