<div class="navbar navbar-expand-lg navbar-light bg-light">
  <a class=".navbar-brand" href="#"><img src="assets/logo-responsivo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse botoes" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Python</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Excel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Desenvolvimento WEB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">JavaScript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Data Science</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Amazon AWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Desenho</a>
      </li>
    </ul>
  </div>
</div>
<div class="container d-flex align-items-start flex-column">
  <div class="d-flex flex-column p-2">
    <div class="p-2">
      <h2>Amplie suas oportunidades de carreira com Python</h2>
    </div>
    <div class="p-2">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi reiciendis aperiam velit eveniet
        accusamus voluptatibus ratione. Quidem repudiandae neque dolor. Modi labore animi, beatae omnis illo doloremque
        dolor repudiandae?</p>
    </div>
    <div class="p-2"><button class="btn btn-outline-secondary">Explorar Python</button></div>
  </div>
  <div class="d-flex justify-content-start p-2">
    <div class="d-flex justify-content-between">
      <div><img src="assets/test.jpg" alt="TESTE" class="img-fluid p-4" id="Thumbnail"></div>
      <div><img src="assets/test.jpg" alt="TESTE" class="img-fluid p-4" id="Thumbnail"></div>
      <div><img src="assets/test.jpg" alt="TESTE" class="img-fluid p-4" id="Thumbnail"></div>
      <div><img src="assets/test.jpg" alt="TESTE" class="img-fluid p-4" id="Thumbnail"></div>
      <div><img src="assets/test.jpg" alt="TESTE" class="img-fluid p-4" id="Thumbnail"></div>
    </div>
  </div>
</div>

<p>desing by Guilherme</p>