.botoes {
    padding-left: 2%;
}

#Thumbnail {
    height: 200px;
    width: 350px;
}

.main-content{
  background-color: #1C316A;

}

.tamanhoLogo{
  height: 64px;
    width: 147px;
}

.margemLogo{
  margin-left: 60px;
}

.degrade {
  background: linear-gradient(to right, #8B328E, #1B2E66);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spacer{
  height: 50px;
}
