.botoes {
  padding-left: 2%;
}

.maozinhaClick {
  cursor: pointer;
}

#Thumbnail {
  height: 200px;
  width: 350px;
}

.main-content {
  background-color: #1c316a;
}

.tamanhoLogo {
  height: 64px;
  width: 147px;
}

.margemLogo {
  margin-left: 60px;
}

.degrade {
  background: linear-gradient(to right, #8b328e, #1b2e66);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spacer {
  height: 50px;
}
